<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="GetParameterCS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Application Name" value="MyApplication" />
    <add key="Application Version" value="1.0.0.0" />
  </appSettings>
  <userSettings>
    <GetParameterCS.Properties.Settings>
      <setting name="ID_1" serializeAs="String">
        <value>ParamAngleX,-30,30</value>
      </setting>
      <setting name="ID_2" serializeAs="String">
        <value>ParamAngleY,-30,30</value>
      </setting>
      <setting name="ID_3" serializeAs="String">
        <value>ParamAngleZ,-30,30</value>
      </setting>
      <setting name="ID_4" serializeAs="String">
        <value>ParamBodyAngleX,-10,10</value>
      </setting>
      <setting name="ID_5" serializeAs="String">
        <value>ParamBodyAngleZ,-10,10</value>
      </setting>
      <setting name="ID_6" serializeAs="String">
        <value>ParamBreath,0,1</value>
      </setting>
      <setting name="ID_7" serializeAs="String">
        <value>ParamEyeLOpen,0,1</value>
      </setting>
      <setting name="ID_8" serializeAs="String">
        <value>ParamEyeROpen,0,1</value>
      </setting>
      <setting name="ID_9" serializeAs="String">
        <value>ParamEyeBallX,-1,1</value>
      </setting>
      <setting name="ID_10" serializeAs="String">
        <value>ParamEyeBallY,-1,1</value>
      </setting>
      <setting name="ID_11" serializeAs="String">
        <value>ParamEyeForm,-1,1</value>
      </setting>
      <setting name="ID_12" serializeAs="String">
        <value>ParamBrowLY,-1,1</value>
      </setting>
      <setting name="ID_13" serializeAs="String">
        <value>ParamBrowRY,-1,1</value>
      </setting>
      <setting name="ID_14" serializeAs="String">
        <value>ParamBrowLForm,-1,1</value>
      </setting>
      <setting name="ID_15" serializeAs="String">
        <value>ParamBrowRForm,-1,1</value>
      </setting>
      <setting name="ID_16" serializeAs="String">
        <value>ParamBrowLAngle,-1,1</value>
      </setting>
      <setting name="ID_17" serializeAs="String">
        <value>ParamBrowRAngle,-1,1</value>
      </setting>
      <setting name="ID_18" serializeAs="String">
        <value>ParamMouthOpenY,0,1</value>
      </setting>
      <setting name="ID_19" serializeAs="String">
        <value>ParamMouthForm,-1,1</value>
      </setting>
      <setting name="ID_20" serializeAs="String">
        <value>ParamHairFront,-1,1</value>
      </setting>
      <setting name="ID_21" serializeAs="String">
        <value>ParamHairSide,-1,1</value>
      </setting>
      <setting name="ID_22" serializeAs="String">
        <value>ParamHairBack,-1,1</value>
      </setting>
      <setting name="ID_23" serializeAs="String">
        <value>ParamHandL,-1,1</value>
      </setting>
      <setting name="ID_24" serializeAs="String">
        <value>ParamHandR,-1,1</value>
      </setting>
      <setting name="ID_25" serializeAs="String">
        <value>ParamArmLA,-10,10</value>
      </setting>
      <setting name="ID_26" serializeAs="String">
        <value>ParamArmRA,-10,10</value>
      </setting>
      <setting name="ID_27" serializeAs="String">
        <value>ParamArmLB,-10,10</value>
      </setting>
      <setting name="ID_28" serializeAs="String">
        <value>ParamArmRB,-10,10</value>
      </setting>
      <setting name="ID_29" serializeAs="String">
        <value>ParamZ,0,1</value>
      </setting>
      <setting name="ID_30" serializeAs="String">
        <value>ParamX,0,1</value>
      </setting>
      <setting name="ID_31" serializeAs="String">
        <value>ParamC,0,1</value>
      </setting>
      <setting name="ID_32" serializeAs="String">
        <value>ParamV,0,1</value>
      </setting>
      <setting name="ID_33" serializeAs="String">
        <value>ParamSZ,0,1</value>
      </setting>
      <setting name="ID_34" serializeAs="String">
        <value>ParamSX,0,1</value>
      </setting>
      <setting name="ID_35" serializeAs="String">
        <value>ParamSC,0,1</value>
      </setting>
      <setting name="ID_36" serializeAs="String">
        <value>ParamSV,0,1</value>
      </setting>
      <setting name="ID_37" serializeAs="String">
        <value>ParamQ,0,1</value>
      </setting>
      <setting name="ID_38" serializeAs="String">
        <value>ParamW,0,1</value>
      </setting>
      <setting name="ID_39" serializeAs="String">
        <value>ParamE,0,1</value>
      </setting>
      <setting name="ID_40" serializeAs="String">
        <value>ParamR,0,1</value>
      </setting>
      <setting name="ID_41" serializeAs="String">
        <value>ParamT,0,1</value>
      </setting>
      <setting name="ID_42" serializeAs="String">
        <value>ParamY,0,1</value>
      </setting>
      <setting name="ID_43" serializeAs="String">
        <value>ParamTongue,0,1</value>
      </setting>
      <setting name="ID_44" serializeAs="String">
        <value />
      </setting>
      <setting name="ID_45" serializeAs="String">
        <value />
      </setting>
      <setting name="ID_46" serializeAs="String">
        <value />
      </setting>
      <setting name="ID_47" serializeAs="String">
        <value />
      </setting>
      <setting name="ID_48" serializeAs="String">
        <value />
      </setting>
      <setting name="ID_49" serializeAs="String">
        <value />
      </setting>
      <setting name="ID_50" serializeAs="String">
        <value />
      </setting>
    </GetParameterCS.Properties.Settings>
  </userSettings>
</configuration>